*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  margin: 0 auto;
}
input {
  font-family: inherit;
}
/* common */
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.list-cont {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}
.header-logo,
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #4d5ae5;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
}
.header-logo .logo-web {
  color: #2e2f42;
}
.nav-link {
  display: block;
  padding: 24px 0;
  color: #2e2f42;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: 500;
  font-size: 16px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address {
  font-style: normal;
  margin-left: auto;
}
.list-cont .contacts-link {
  display: block;
  padding: 24px 0;
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list .nav-item .nav-link:hover,
.list-cont .contacts-link:hover,
.nav-list .nav-item .nav-link:focus,
.list-cont .contacts-link:focus {
  color: #404bbf;
}
.current {
  position: relative;
  color: #404bbf;
}

.nav-link.current::after {
  display: block;
  content: "";
  left: 0;
  width: 100%;
  bottom: -1px;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  background-color: #404bbf;
}
/* section-hero */
.section-hero {
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(https://c.pxhere.com/images/d1/df/d08ed2d616fb4a365724bc6a3614-1434201.jpg!d);
  max-width: 1440px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #2e2f42;
  display: flex;
  padding: 188px 0;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
}
.hero-title {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.hero-btn {
  display: block;
  min-width: 169px;
  margin: auto;
  margin-top: 48px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
/* benefits */
.section-benefits {
  padding: 120px 0;
}

.benefits-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;
}
.feature {
  width: calc((100% - 72px) / 4);
}
.icon-bnf {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  margin-bottom: 8px;
}
.title-benefits {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.our-advantages.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.title-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* section-team */

.section-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.team-card {
  padding: 32px 0;
}

.social-items .social-link {
  line-height: 0;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  fill: #f4f4fd;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-items .social-link:hover,
.social-items .social-link:focus {
  background-color: #404bbf;
}
.social-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.item-team {
  background-color: #ffffff;
  max-width: 264px;
  flex-basis: calc((100% - 72) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.section-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.list-team {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 0 0 4px 4px;
}
.section-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
  color: #2e2f42;
}
.page-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
/* portfolio */
.section-portfolio {
  padding: 120px 0 120px 0;
}
.section-title {
  margin-bottom: 72px;
}
.list-portfolio {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.item-portfolio:hover,
.item-portfolio:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.item-portfolio {
  cursor: pointer;
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-portfolio:hover .portfolio-hover,
.item-portfolio:focus .portfolio-hover {
  transform: translateY(0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.image-hover {
  position: relative;
  overflow: hidden;
}
.page-text.portfolio-hover {
  position: absolute;
  top: 0;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-text {
  margin-bottom: 8px;
}
.info-portfolio {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
/* footer */
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #4d5ae5;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
}
.footer-logo .logo-web {
  color: #f4f4fd;
}
.footer-text {
  max-width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.footer-social .page-text {
  display: flex;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 16px;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer-social {
  margin-right: 85px;
}
.end-page > .container {
  display: flex;
  align-items: baseline;
}
.container .footer-social,
.container .news-letter {
  display: flex;
  flex-direction: column;
}
.container-logo {
  margin-right: 120px;
}
.footer-social .social-list {
  display: flex;
  gap: 16px;
}
.footer-social .social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  fill: #f4f4fd;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social .social-link:hover,
.footer-social .social-link:focus {
  background-color: #31d0aa;
}
.end-page {
  background-color: #2e2f42;
  height: 312px;
  padding: 100px 0;
}

/* Subscribe section */
.news-letter .footer-form {
  display: flex;
  gap: 24px;
}
.news-letter-title {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  line-height: 1.5;
}
.label-subscribe > #footer-email {
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  width: 264px;
  height: 40px;
  background-color: transparent;
  color: #fff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
}
input::placeholder {
  color: #fff;
}
/* Button-subscribe */
.button-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: none;
  background-color: #4d5ae5;
  cursor: pointer;
  color: #fff;
  gap: 16px;
  padding: 8px 24px;
  letter-spacing: 0.04em;
  text-align: center;
  margin: 0;
  min-width: 165px;
  font-weight: 500;
  line-height: 1.5;
}
.icon-subscribe {
  fill: #fff;
  margin-left: 16px;
}

/* Modal window */
.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 24px 24px 24px;
  width: 408px;
  min-height: 584px;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 0;
  pointer-events: auto;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  pointer-events: none;
}
.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
/* button-close */
.icon-btn {
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-btn:hover,
.icon-btn:focus {
  background-color: #404bbf;
  fill: #fff;
  border: none;
}

/* Form modal  */
.form-modal-window {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 8px;
}
.form-texarea-modal {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 16px;
}
.form-modal {
  display: inline-block;
  align-items: center;
}
.label-modal {
  margin-bottom: 4px;
  display: block;
}
.form-input {
  position: relative;
}
.textarea-modal {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-modal:focus {
  border-color: #4d5ae5;
}
.input-modal {
  width: 360px;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:focus,
.input-modal:active {
  border-color: #4d5ae5;
}

/* Icons modal */
.icon-placeholder {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-modal:focus + .icon-placeholder {
  fill: #4d5ae5;
}

/* checkbox */
.modal-link-privacy {
  text-decoration: underline;
  color: #4d5ae5;
  cursor: pointer;
}
.visually-hidden {
  display: none;
}
.form-checkbox-modal {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.span-checkbox {
  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  border-radius: 2px;
  margin-right: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 16px;
  height: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.visually-hidden:checked + .label-accept-privacy .span-checkbox {
  fill: #f4f4fd;
  background-color: #404bbf;
  border: none;
}

/* button-send */
.send-btn {
  display: block;
  align-items: flex-start;
  margin: auto;
  cursor: pointer;
  min-width: 169px;
}

.order-servise {
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
}
